.project__wrap {
  max-width: 360px;
  max-height: 360px;
  height: 360px;
  width: 100%;
  background: #e2e8f0;
  position: relative;
}

.project__hidden {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  display: flex !important;
  opacity: 0;
  transition: all 0.3s;
}

.project__wrap img {
  width: 360px;
  height: 360px;
}

.project__wrap:hover .project__hidden {
  opacity: 1;
  transition: all 0.3s;
}

.portfolio__wrap {
  max-width: 1170px;
}

.project__open-btn {
  padding: 8px 20px;
  color: white;
  background: #222;
  transition: all 0.5s;
  cursor: pointer;
}

.project__open-btn:hover {
  background: #3182ce;
  transition: all 0.5s;
}

.portfolio__quote {
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  color: #777;
  line-height: 1.5;
}
