@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #222;
  line-height: 20px;
  letter-spacing: 1px;
}

.main-cont {
  background-image: radial-gradient(
    circle,
    #e2e8f0,
    #eaedf4,
    #f2f3f7,
    #f9f9fb,
    #ffffff
  );
}

main {
  min-width: fit-content;
  min-height: calc(100vh - 150px);
}

nav p {
  font-size: 18px;
  letter-spacing: 3px;
}
@media (max-width: 700px) {
  header {
    justify-content: center !important;
    align-items: center;
  }
  nav p {
    font-size: 15px !important;
    padding: 5px !important;
    letter-spacing: 3px;
  }
  .copyright {
    display: none !important;
  }
  .main__photo {
    display: none !important;
  }
  .hello__wrap {
    align-items: flex-end !important;
    height: 300px !important;
  }
  .about__me {
    flex-direction: column;
  }
  .about__me-title {
    margin: 15px 0 25px 0 !important;
  }
  .about__me-text {
    margin: auto !important;
    text-align: justify;
  }
  .affairs__me {
    flex-direction: column;
  }
  .affairs__me-title {
    margin: 0 0 25px 0 !important;
  }
  .affairs__me-text {
    margin: auto;
  }
}

@media (max-width: 400px) {
  nav p {
    font-size: 10px !important;
    padding: 5px !important;
    letter-spacing: 3px;
  }
  .footer__contacts {
    flex-direction: column;
  }
  .footer__list-wrap {
    margin: 0 !important;
  }
  .hello__wrap h1 {
    font-size: 1rem !important;
  }
  .hello__wrap p {
    font-size: 13px !important;
  }
  .about__me-title {
    font-size: 16px !important;
  }
  .about__me-text {
    font-size: 13px !important;
  }
  .affairs__me-title {
    width: 40%;
    font-size: 16px !important;
  }
  .affairs__me-text {
    font-size: 13px !important;
  }
  .affairs__me-text h3 {
    font-size: 20px !important;
  }
  .portfolio__quote {
    font-size: 15px !important;
    text-align: center;
  }
  .project__wrap {
    max-width: 250px !important;
    max-height: 250px !important;
    height: 250px !important;
    width: 250px !important;
  }
  .project__wrap img {
    max-width: 250px !important;
    max-height: 250px !important;
    height: 250px !important;
    width: 250px !important;
  }
}

.main__photo {
  width: 250px;
  height: 250px;
  display: block;
  background-size: cover;
  border-radius: 50%;
  background-position: inherit;
}

.main__social {
  border-top: 1px dashed #718096;
  padding-top: 10px;
}

.main__social span {
  width: 25px;
  height: 25px;
  display: block;
  background-size: cover !important;
  margin-right: 15px;
}

.hello__wrap {
  height: -moz-calc(100vh - (80px));
  height: -webkit-calc(100vh - (80px));
  height: calc(100vh - (80px));
}

.main__dash {
  height: 3px;
  background: #222;
  margin: 70px 0;
}

footer {
  background-color: #222222;
  padding-top: 100px;
  padding-bottom: 60px;
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.5;
  color: #777777;
}

.footer__list-wrap p {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__list-wrap ul li {
  font-size: 16px;
  margin-bottom: 3px;
}
.footer__list-wrap ul {
  margin-bottom: 1.5em;
}

.footer__list-wrap a:hover {
  color: #ffffff;
  transition: all 0.3s;
}

.footer__list-wrap a {
  transition: all 0.3s;
}

.about__me-title,
.affairs__me-title {
  font-size: 22px;
  line-height: 1.5;
}

.about__me-text,
.affairs__me-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.affairs__me-text h3 {
  font-size: 30px;
  text-align: left;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 25px !important;
  text-transform: uppercase;
}

.project__wrap {
  max-width: 360px;
  max-height: 360px;
  height: 360px;
  width: 100%;
  background: #e2e8f0;
  position: relative;
}

.project__hidden {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  display: flex !important;
  opacity: 0;
  transition: all 0.3s;
}

.project__wrap img {
  width: 360px;
  height: 360px;
}

.project__wrap:hover .project__hidden {
  opacity: 1;
  transition: all 0.3s;
}

.portfolio__wrap {
  max-width: 1170px;
}

.project__open-btn {
  padding: 8px 20px;
  color: white;
  background: #222;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px 0;
}

.project__open-btn:hover {
  background: #3182ce;
  transition: all 0.5s;
}

.portfolio__quote {
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
  letter-spacing: 2px;
  font-size: 22px;
  color: #777;
  line-height: 1.5;
}
